{% extends "base.html" %}
{% block content %}

<h1>About Us</h1>
<div id="enactus">
	<div id="enactuslogo"><img /></div><!--
	--><div id="enactus-desc">
		<p>Enactus is a bunch of cool and elitist people. Lorem ipsum dolor sit amet, est recteque periculis te, has in illud voluptatibus, vim verear atomorum consequat ad. Nec ex iusto voluptatum.</p>
	</div>
</div>

<h2>Team Members</h2>
<div id="members">
	<div id="mem-grid">
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
		<div class="mem">
			<img src="/static/img/doge.jpg"/>
			<h3>Doge M. Dogeman</h3>
			<p>Such content. Much lorem. Very ipsum. So design. Many mockup. Wow</p>
		</div>
	</div>
</div>

{% endblock %}
