{% extends "base.html" %}
{% block content %}

<h1>Menu</h1>
<p class="desc">Food orders are served straight from the newest batch. No leftovers! Lorem ipsum dolor sit amet, ex antiopam reformidans qui, at qui habeo labore aperiri. Eu sit duis eripuit, usu quod modo dolorum an. Iudico adipiscing efficiendi ne ius, usu malis pertinax delicatissimi et, animal fabulas suscipit ius ne. Quis homero eam ad. Vix deleniti scaevola ea, aeque facilis interpretaris no ius, enim stet solum ea eum.</p>

<div id="menu">
	<div id="menu-grid">
			<div class="menu-item">
				<img src="/static/img/chickennuggets.jpeg" />
				<div class="overlay"></div>
				<div class="menu-item-desc">
					<h3>Chicken Nugget</h3>
					<p>If only such a thing exists at the caf</p>
				</div>
				<div class="price">99.98$</div>
			</div>

			<div class="menu-item">
				<img src="/static/img/chickennuggets.jpeg" />
				<div class="overlay"></div>
				<div class="menu-item-desc">
					<h3>Chicken Nugget</h3>
					<p>If only such a thing exists at the caf</p>
				</div>
				<div class="price">99.98$</div>
			</div>

			<div class="menu-item">
				<img src="/static/img/chickennuggets.jpeg" />
				<div class="overlay"></div>
				<div class="menu-item-desc">
					<h3>Chicken Nugget</h3>
					<p>If only such a thing exists at the caf</p>
				</div>
				<div class="price">99.98$</div>
			</div>
	</div>
</div>
{% endblock %}
